@model IEnumerable<News>

@{
	ViewData["Title"] = "Kampanya ve Duyurular";

}

<div class="my-5">
    <h class="text-center">Kampanyalarımız</h>
    <div class="row gx-4 gx-lg-5 row-cols-2 justify-content-center">
        @foreach (var item in Model)
        {
            <partial name="_NewsView" model="item" />

        }

    </div>
</div>